{% extends "layouts/base.html" %}

{% block title %} Добавление кривых {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Модуль ПХГ</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Добавление кривой</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Добавление кривой</h5>
                                </div>
                                <form method="post" action="#">
                                    <div class="card-body">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label for="UGSName">Название ПХГ</label>
                                                    <input type="text" class="form-control" placeholder="ПХГ"
                                                       aria-label="UGSName" aria-describedby="basic-addon2" required name="UGS"
                                                    value={{ name }} >

                                                </div>
                                                <div class="col-md-3">
                                                    <label for="UGSPoints">Количество точек отбор</label>
                                                    <input type="text" class="form-control" placeholder="Количество точек отбор"
                                                       aria-label="Points" aria-describedby="basic-addon2" required
                                                           name="pointsvalue" value={{ number }}>
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="UGSPoints">Количество точек закачки</label>
                                                    <input type="text" class="form-control" placeholder="Количество точек закачка"
                                                       aria-label="Points_in" aria-describedby="basic-addon2" required name="pointsvalue_in"
                                                    value={{ number_in }}>
                                                </div>

                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <button class="btn btn-primary" type="submit" name="pointsnumber"
                                                            value="pointsnumber">Создать</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="accordion" id="list_data">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Добавление точек</a></h5>
                                            </div>
                                            <div id="collapseOne" class=" card-body collapse show" aria-labelledby="headingOne" data-parent="#list_data">
                                                <div class="form-group">
                                                    {% csrf_token %}
                                                    {% if number == 0 %}
                                                        <div class="col-md-4">
                                                            <h5 class="mt-5" style="text-align: left">Введите количество точек</h5>
                                                        </div>
                                                    {% else %}
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <h5 class="mt-5" style="text-align: center">X Отбор</h5>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <h5 class="mt-5" style="text-align: center">Y Отбор</h5>
                                                            </div>
                                                            <div class="col-md-1"></div>
                                                            <div class="col-md-2">
                                                                <h5 class="mt-5" style="text-align: center">X Закачка</h5>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <h5 class="mt-5" style="text-align: center">Y Закачка</h5>
                                                            </div>
                                                        </div>
                                                        {% for i in max_range %}
                                                            <div class="row">
                                                                {% if i in range_out %}
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                        <input type="integer" class="form-control" name="Xout{{ i }}_value" placeholder="X{{ i }}" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                        <input type="integer" class="form-control" name="Yout{{ i }}_value" placeholder="Y{{ i }}" required>
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="col-md-2">
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                    </div>
                                                                {% endif %}
                                                                <div class="col-md-1"></div>
                                                                {% if i in range_in %}
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                        <input type="integer" class="form-control" name="Xin{{ i }}_value" placeholder="X{{ i }}" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                        <input type="integer" class="form-control" name="Yin{{ i }}_value" placeholder="Y{{ i }}" required>
                                                                        </div>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="col-md-2">
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                        <button type="submit" class="btn btn-primary" name="submit_line" value="submit_line">Сохранить кривую</button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
